body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #3f7bea;
  }
  .wrapper {
    width: 33.75em;
    background-color: #ffffff;
    position: absolute;
    padding: 2em;
    transform: translateX(-50%);
    left: 50%;
    top: 1.25em;
    border-radius: 0.5em;
  }
  .container {
    margin: 1.25em auto;
    width: 33.75em;
    border-radius: 0.6em;
    overflow: hidden;
    background-color: #5e47b0;
  }
  #information {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .player-wrappers {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .player1:before {
    content: "";
    display: inline-block;
    width: 3.12em;
    height: 3.12em;
    border-radius: 50%;
    background: radial-gradient(#f8e23a 1.12em, #e8a703 1.25em);
  }
  .player2:before {
    content: "";
    display: inline-block;
    width: 3.12em;
    height: 3.12em;
    border-radius: 50%;
    background: radial-gradient(#d22121 1.12em, #830101 1.25em);
    
  }
  #playerTurn {
    margin: 1em 0;
    text-align: center;
  }
  #playerTurn span {
    font-weight: 600;
  }
  .startScreen {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #042ead;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .startScreen img {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .startScreen img:hover {
    transform: scale(1.1);
  }
  .grid-row {
    margin: 0 auto;
    display: flex;
  }
  .grid-box {
    width: 5em;
    height: 5em;
    display: grid;
    place-items: center;
    background: radial-gradient(white 1.37em, #042ead 1.43em);
    cursor: pointer;
  }
  .hide {
    display: none;
  }
  #message {
    margin-bottom: 1em;
    color: #ffffff;
    font-size: 1.2em;
  }
  